body {
    background-color: var(--purple);
    grid-template-areas: "main" "footer";
    grid-template-rows: 1fr 35px;
}

.profile {
    text-align: center;
    margin-bottom: 50px;
    font-size: 22px;
}

.profile-img {
    margin-top: 10px;
}

#name {
    font-weight: 700;
}

.homepage-nav {
    margin-bottom: 60px;
}

.homepage-nav ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.homepage-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 50px;
    line-height: 55px;
    text-decoration: none;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 700;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
}

#projects-link {
    background-color: var(--red);
}

#about-link {
    background-color: var(--green);
}

#socials-link {
    background-color: var(--blue);
}

#projects-link:hover {
    background-color: var(--red-hover);
}

#about-link:hover {
    background-color: var(--green-hover);
}

#socials-link:hover {
    background-color: var(--blue-hover);
}

@media only screen and (max-width: 376px) {
    .profile {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .profile-img {
        width: 66.5vw;
        height: 66.5vw;
    }
    .homepage-nav {
        margin-bottom: 40px;
    }
    .homepage-nav a {
        width: 80vw;
        height: 45px;
        font-size: 18px;
    }
}