body {
    background-color: var(--red);
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin-bottom: 15px;
}

.project-card {
    width: 350px
}

.preview-image {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: var(--black);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.preview-image img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    transition: transform .5s ease, opacity .5s ease;
}

.preview-image:hover img {
    transform: scale(1.15);
    opacity: 0.6;
}

.project-title {
    font-size: 20px;
    text-align: center;
}

#gamehub-title {
    background-color: #396DFF;
}

#community_science_museum-title {
    background-color: #158C87;
}

#nature_and_food_blog-title {
    background-color: #2FD426;
}

.project-desc {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas: "desc" "github-rep";
    grid-template-rows: 160px 25px;
    background-color: var(--white);
    height: 200px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.project-desc {
    grid-area: desc;
}

.project-desc p {
    color: var(--black);
}

.project-desc p::-moz-selection {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
}
  
.project-desc p::selection {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0.5);
}

.github-rep-link, .github-rep-link img {
    grid-area: github-rep;
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 1120px) {
    .projects {
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 750px) {
    .projects {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 430px) {
    .github-rep-link, .github-rep-link img {
        grid-area: github-rep;
        width: 50px;
        height: 50px;
    }

    .github-rep-link a, .github-rep-link img {
        padding: 5px;
    }

    .project-desc {
        height: 225px;
        grid-gap: 5px;
        grid-template-rows: 160px 40px;
    }
}